<!doctype html>
<html>
<style>
form {
    margin: auto;
    width: 35%;
}
.result {
    margin: auto;
    width: 35%;
    border: 1px solid #ccc;
}
</style>
<head>
    <title>Entrepreneurship Classification</title>
</head>
<form action="http://127.0.0.1:8082/persona/login" method="POST">
    <fieldset>
        <legend>Input values:</legend>
        name:
        <input name="name" type="text" required>
        <br>
        <br> EducationSector:
        <input name="EducationSector" type="text" required>
        <br>
        <br> IndividualProject:
        <input name="IndividualProject" type="text" required>
        <br>
        <br> Age:
        <input name="Age" type="number" required>
        <br>
        <br> Gender:
        <input name="Gender" type="text" required>
        <br>
        <br> City:
        <input name="City" type="text" required>
        <br>
        <br> Influenced:
        <input name="Influenced" type="text" required>
        <br>
        <br> Perseverance:
        <input name="Perseverance" type="number" required>
        <br>
        <br> DesireToTakeInitiative:
        <input name="DesireToTakeInitiative" type="number" required>
        <br>
        <br> Competitiveness:
        <input name="Competitiveness" type="number" required>
        <br>
        <br> SelfReliance:
        <input name="SelfReliance" type="number" required>
        <br>
        <br> StrongNeedToAchieve:
        <input name="StrongNeedToAchieve" type="number" required>
        <br>
        <br> SelfConfidence:
        <input name="SelfConfidence" type="number" required>
        <br>
        <br> GoodPhysicalHealth:
        <input name="GoodPhysicalHealth" type="number" required>
        <br>
        <br> MentalDisorder:
        <input name="MentalDisorder" type="text" required>
        <br>
        <br> KeyTraits:
        <input name="KeyTraits" type="text" required>
        <br>
        <input type="submit">
    </fieldset>
</form>
<br>
</html>